
.login{

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex ;
    flex-direction:row ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:60%;
    border-radius: 10px;
    height: max-content;
}

.login_logo{
    background-color: #1465C0;
    flex:.40;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}

.login_logo_image{
    width :7.5em;
    height:7.5em;
}

.login_box{
    display: flex;
    flex-direction:column;
    flex:.60 ;
    padding:3em ;
}

.row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
}


@media  only screen and (max-width:768px) {
    
    .login_logo{
        display: none; 
    }

    .login_box {
        flex:1 ;
    }

    .login{
        top:15% ;
        left:0% ;
        transform: none; 
        box-shadow: none;
        width:100vw ;
        font-size: .8em;
    }
    .row {
        flex-direction: column;
        align-items: flex-start;
    }

}
