
.nav_desktop_wrapper{
    width:100vw ;
    height: 100vh;
    display: grid ;
    grid-template-columns: .2fr .8fr;
}

.nav_header{

    height :max-content ;
    padding: 1rem 2rem; 
    display: flex;
    justify-content: space-between;
}

.nav {
    width: 50vw;
    height:100vh ;
    position: absolute ;
    left:-100% ;
    transition: 300ms ease-in ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white
}


.nav_desktop{
    background-color: white;
}


.nav_active{
    left:0%;
    transition: 600ms ease-in ;
}

.body {
    background-color: #f8f9f5;
    height:100vh ;
    
}