

.sidebar {
    padding: 10px; 
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow:hidden;
    background-color: aliceblue ; 
}
.logo {
    color: black ;
}

.navlist {

    width :100% ;
    display: flex;
    flex-direction: column;
}

.navitems {
    padding:20px; 
    padding-left:5px;
    text-decoration: none ;
    text-transform: capitalize;
    width:100% ;
    color: #1a1f71; 
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.currNav{
    background-color:#E0EFFF;
    font-weight: bolder;
    font-size: large;
    color: #0CBABA;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
